*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 24px;
    background-image: url(./Bosque.jpeg);
    background-position: 0px 380px;
}

.logo{
   height: 110px;
   display: flexbox;
}

.menu{
    display: flex;
    gap: 45px;
    align-items: center;
}

.menu-item{
    color: antiquewhite;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 25px;
}
.menu-item:hover{
    color: sandybrown;
}

.botao{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    background-color: lightgreen;
    width: 130px;
    height: 40px;
    color: black;
    border: none;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 20px;
}
.botao:hover{
    color: whitesmoke;
}