<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Pousada Serras de Monte Verde</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Conforto que o visitante de Monte Verde merece!"
</head>

<body>
    <header>
        <div class="center">
            <div class="logo"><img src="../static/Logo_Serras_Monte_Verde.png" /></div>
            <div class="menu">
                <a href="/">Home</a>
                <a href="/acomodacoes">Acomodações</a>
                <a href="/lazer">Lazer</a>
                <a href="/sobre">Sobre</a>
                <a href="/contato">Contato</a>
                <a href="/reservas">Reservas</a>
            </div>
        </div>
    </header>
        
    <main>
        <p>Começando o desenvolvimento web</p>
    </main>

    <footer>

    </footer>
</body>
</html>