<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Pousada Serras de Monte Verde</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Conforto que o visitante de Monte Verde merece!"
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="../static/Logo_Serras_Monte_Verde.png"/></a>
        <nav class="menu"> 
            <a class="menu-item" href="/">Home</a>
            <a class="menu-item" href="/acomodacoes">Acomodações</a>
            <a class="menu-item" href="/lazer">Lazer</a>
            <a class="menu-item" href="/sobre">Sobre</a>
            <a class="menu-item" href="/reservas">Reservas</a>
            <a href="/contatos"><button class="botao">Contato</button></a>
        </nav>
    </header>
        
    <main>
        <h1>Seja Bem-Vindo</h1>
        <p>Bem-vindo ao nosso hotel! Estamos emocionados em tê-lo como nosso convidado.</p>
        <p>Seja para uma escapada de fim de semana ou uma estadia prolongada, </p>
        <p>tudo o que você precisa para uma estadia confortável e relaxante. 
        <p>Por favor, não hesite em entrar em contato conosco se precisar de qualquer assistência durante sua estadia.</p>
        <p>Aproveite sua visita!</p>
        <h3>Lazer</h3>
        <h3>Qualidade</h3>
        <h3>Localização</h3>

    </main>

    <footer>
        <h2>Faça sua reserva!</h2>
        <p>número</p>
        <p>e-mail</p>
        <p>endereço</p>
    </footer>
</body>
</html>