<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/sobre.css"/>
</head>
<body>
    <header>
        <a href="/"><img class="logo" src="../static/Logo_Serras_Monte_Verde.png"/></a>
        <nav class="menu"> 
            <a class="menu-item" href="/">Home</a>
            <a class="menu-item" href="/acomodacoes">Acomodações</a>
            <a class="menu-item" href="/lazer">Lazer</a>
            <a class="menu-item" href="/sobre">Sobre</a>
            <a class="menu-item" href="/reservas">Reservas</a>
            <a href="/contatos"><button class="botao">Contato</button></a>
        </nav>
    </header>
</body>
</html>